<a href="https://colab.research.google.com/github/kunjkinger/python/blob/main/02python_ztm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*args and  **kwargs

In [51]:
def super_func(*args):
  return sum(args)

print(super_func(1,2,3,4,5))

15

In [52]:
def super_func(*args,**kwargs):
  print(args)
  print(kwargs)
  total = 0
  for items in kwargs.values():
    total += items
  return sum(args) + total

print(super_func(1,2,3,4,5,num1=1,num2=5))

(1, 2, 3, 4, 5)
{'num1': 1, 'num2': 5}
21

In [53]:
def highest_even(li):
  for i,j in enumerate(li):
    if li[i] % 2 == 0:
      return max(li)

In [54]:
highest_even([1,2,3,4,5,3,2,10])

10

In [55]:
'hello'.upper()

'HELLO'

In [56]:
 #global
 total = 0 
  
def count():
  global total
  total += 1
  return total

In [57]:
count()

1

In [58]:
total = 0 

def count(total):
  total += 1
  return total

print(count(count(count(count(total)))))

4

In [59]:
#non local

def outer():
  x = 'local'

  def inner():
    nonlocal x
    x = 'nonlocal'
    print('inner: ',x)

  inner()
  print('outer: ',x)

In [60]:
outer()

inner:  nonlocal
outer:  nonlocal

In [61]:
fruits = ["apple", "banana", "cherry"]
fruits.append('orange')

In [62]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [63]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,'lemon')

In [64]:
fruits

['apple', 'lemon', 'banana', 'cherry']

In [65]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
fruits

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [66]:
fruits = {"apple", "banana", "cherry"}
fruits.remove('banana')
fruits

{'apple', 'cherry'}

In [67]:
fruits = {"apple", "banana", "cherry"}
fruits.discard('banana')
fruits

{'apple', 'cherry'}

In [68]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(
car.get('model')
)

Mustang

In [69]:
car.values()

dict_values(['Ford', 'Mustang', 1964])

In [70]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car['year'] = 2020
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [71]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car['color'] = 'red'
car

{'brand': 'Ford', 'color': 'red', 'model': 'Mustang', 'year': 1964}

In [72]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop('model')
car

{'brand': 'Ford', 'year': 1964}

In [73]:
car.clear()
car

{}

In [80]:
picture = [
           [0,0,0,1,0,0,0],
           [0,0,1,1,1,0,0],
           [0,1,1,1,1,1,0],
           [1,1,1,1,1,1,1],
           [0,0,0,1,0,0,0],
]

for image in picture:
  for pixel in image:
    if pixel:
      print('*',end="")
    else:
      print(' ',end="")
  print(' ')

   *
  ***
 *****
*******
   *